.left,.middle,.middle2,.right{
  height:18rem;
  border-bottom: black solid;
}
.left{
  background-color:red;

}

 .right{
  background-color: blue;

}
.middle{
  background-color: green;

}
.middle2{
  background-color: orange;
}
